.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.sign-inup-box {

    height: 625px;
}

#alert-bar {
    width: 100%;
    display: flex;
    background: #0000008f;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
}

#alert-bar-title {
    color: aliceblue;
}

#alert-box {
    position: absolute;
    z-index: 3;
}

.alert-box-content {
    margin-left: 40px;
    margin-top: -25px;
}

.topbar {
    width: 100%;
    
}

.topbutton {
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border: none!important;
}

.topbutton.right {
    
    border-top-left-radius: 0px!important;
    border-top-right-radius: 15px!important;
}

.topbutton.left {

    border-top-left-radius: 15px!important;
    border-top-right-radius: 0px!important;
}

.edit-field {
    width: 225px;
}

.carousel-indicators {
    position: static!important;
    margin: 0!important;
    width: calc(100% + 52px);
    margin-top: 3px!important;
}

.carousel .carousel-indicators button {
    width: calc(100% + 13px);
    height: 45px;
    text-indent: unset;
    top: 2px;
    position: inherit;
    color: black;
 }

 .social-icon {
    padding-left: 10px;
    padding-right: 10px;
 }

 .svg-twitter-logo {
    height: 15px;
    margin: 0 0 3px 2px;
    filter: invert(99%) sepia(7%) saturate(126%) hue-rotate(239deg) brightness(118%) contrast(100%);
 }

 #password-checklist {
    font-size: 12px;
    display: grid;
}